.footer {
    color: $color-white-1;

    .container {
        display: flex;
        flex-direction: column;
    }
    .icon {
        fill: $color-white-1;
        display: none;
    }

    .icon path {
        fill: $color-white-1;
    }

    .icon--instagram path{
        fill: $color-white-1;
    }
    .rs{
        font-size: 1.5rem;
        text-align: center;
        width: 100%;
    }
}

@media #{$breakpoints-medium} {

    
}
    
@media #{$breakpoints-large} {
    .container {
        flex-direction: row !important;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    .rs{
        font-size: 1.2rem !important;
        width: calc(100%/4);
    }
    .icon {
        display: inline !important;
        height: 50px;
    }
}


@media #{$breakpoints-xlarge} {

}