.navbar_custom {
    padding: 0;
    max-width: 100vw;
    position: fixed;
    top:0;
    z-index: 5;
    .head {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        margin: 20px;
        width: 90vw;
        transition: all .5s;
    }

    .head.scrolled{
        display: flex;
        flex-direction: column-reverse;
        justify-content: left;
        .brand{
            justify-content: flex-start;

            img{
                height: 50px;
                margin-left: 29px;
            }
        }
    }

    .menu-screen{
        display: none;
        .active {
            color: $color-white-1;
        }
        ul{
            width: 112px;
        }

        li{
            list-style: none;
            text-align: right;
        }

    }

    .brand {
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .2s;
        transition: all .5s;
        img {
            height: 80px;
            transition: all .5s;
        }
    }

    .brand:hover {
        opacity: .6;
        cursor: pointer;
    }

    .hamburguer {
        height: 30px;
        width: 50px;
        margin: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        z-index: 10;

        span {
            height: calc(100% / 7.5);
            width: 100%;
            background-color: $color-white-1;
            transform: translateY(0) rotate(0);
            opacity: 1;
            transition: all .1s;
        }

        .hamburguer_active {
            position: fixed;
            span:nth-child(1) {
                transform: translateY(325%) rotate(45deg);
            }
            span:nth-child(3) {
                transform: translateY(-325%) rotate(-45deg);
            }
            span:nth-child(2) {
                opacity: 0;
            }
        }
    }

    .hamburguer_active {
        position: fixed;
        span:nth-child(1) {
            transform: translateY(325%) rotate(45deg);
        }
        span:nth-child(3) {
            transform: translateY(-325%) rotate(-45deg);
        }
        span:nth-child(2) {
            opacity: 0;
        }
    }

    .menupage {
        position: fixed;
        width: 100%;
        min-height: 100vh;
        top:0;
        left: 100vw;
        background: $color-brown-2;
        transition: left .2s;

        ul {
            font-size: 3rem;
            line-height: 12rem;
            text-align: right;
            margin: 5rem;
            text-transform: uppercase;

            .active {
                color: $color-white-1;
            }
        }

        li {
            list-style: none;
        }
    }


    .menupage_active {
        left: 0;
        z-index: 5;
    }
}

@media #{$breakpoints-medium} {

    
}
    
@media #{$breakpoints-large} {

    .hamburguer {
        display: none !important;
    }

    .menu-screen {
        display: inline !important;
    }

}


@media #{$breakpoints-xlarge} {

}
