$color-gray-1:#151414;
$color-white-1:#FFFFFF;
$color-pink-light:#EEC4E7;
$color-pink-dark:#D9A5D0;
$color-pink-text:#cb4fb6;
$color-pink-deg-1:linear-gradient(106deg, rgba(217,165,208,1) 53%, rgba(238,196,231,1) 100%);